* {
	margin: 0;
	padding: 0;
}
body {
	background: #FFF;
	width: auto;
	height: 100%;
	font-family: 'Trebuchet MS', Arial, Sans-Serif;
	font-size: 15px;
	color: #474747;
	line-height: 1.6em;
}
#container  {
	min-width:900px;
	padding-top:359px;
	position:relative;
	width:100%;
}
#content {
	margin-right: 250px;
}

.fish1
{
	position:absolute;
	top:50px;
	left:50px;
	width:72px;
	height:58px;
	z-index: 2000;
}