<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.rwethereyet"
        version   = "1.0.0">

    <name>R We There Yet?</name>

    <description>
	Navigation app
    </description>

    <author href="http://www.bullseye.com.uy" email="support@bullseye.com.uy">
       BullsEye Team
    </author>
 <icon src="icons/icon1.png" />

<preference name="orientation"                value="portrait" />  
<preference name="exit-on-suspend" value="false"/>
<preference name="fullscreen" value="false"/>
<icon src="icon1.png" />

<gap:plugin name="org.apache.cordova.splashscreen" version="0.3.4" />
<gap:plugin name="de.appplant.cordova.plugin.background-mode" version="0.6.4" />
<gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
</widget>
