<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.rwethereyet"
        version   = "1.0.0">

    <name>R We There Yet?</name>

    <description>
	Navigation app
    </description>

    <author href="http://www.bullseye.com.uy" email="support@bullseye.com.uy">
       BullsEye Team
    </author>


<preference name="orientation"                value="portrait" />  
<preference name="exit-on-suspend" value="false"/>
<preference name="ios-statusbarstyle" value="black-opaque" />
<preference name="DisallowOverscroll" value="true"/>
<icon src="icon1.png" />

    <gap:plugin name="org.apache.cordova.media-capture" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.media" />
	<gap:plugin name="org.apache.cordova.device-motion"/>
    <gap:plugin name="org.apache.cordova.network-information" />
	<gap:plugin name="org.apache.cordova.splashscreen" version="0.3.4" />
	<gap:plugin name="de.appplant.cordova.plugin.background-mode" version="0.6.4" />
	<gap:plugin name="de.neofonie.cordova.plugin.nativeaudio"/>
	<gap:plugin name="org.apache.cordova.device-orientation" />

<access origin="*"/>
    <!-- Added the following intents to support the removal of whitelist code from base cordova to a plugin -->
    <!-- Whitelist configuration. Refer to https://cordova.apache.org/docs/en/edge/guide_appdev_whitelist_index.md.html -->
    <plugin name="cordova-plugin-whitelist" version="1" />



    <!-- Define app splash screen for each platform. -->
    <gap:splash src="splash1.png"       gap:platform="android" gap:qualifier="port-ldpi" />
    <gap:splash src="splash1.png"              gap:platform="android" gap:qualifier="port-mdpi" />
    <gap:splash src="splash1.png"             gap:platform="android" gap:qualifier="port-hdpi" />
    <gap:splash src="splash1.png"             gap:platform="android" gap:qualifier="port-xhdpi" />
    <gap:splash src="splash1.png"                     gap:platform="blackberry" />
    <gap:splash src="splash1.png"                gap:platform="ios"     width="320" height="480" />
    <gap:splash src="splash1.png"            gap:platform="ios"     width="640" height="960" />
    <gap:splash src="splash1.png"        gap:platform="ios"     width="640" height="1136" />
    <gap:splash src="splash1.png"                  gap:platform="ios"     width="768" height="1024" />
    <gap:splash src="splash1.png"                 gap:platform="ios"     width="1024" height="768" />
    <gap:splash src="splash1.png"             gap:platform="winphone" />

</widget>
