<?xml version="1.0" encoding="utf-8"?>
<widget xmlns	=	"http://www.w3.org/ns/widgets"
	xmlns:gap	=	"http://phonegap.com/ns/1.0"
	id			=	"com.bullseye.rwethereyet"
	version		=	"1.0.0">

<name>RWeThereYet</name>
<description>
Trip Indicator
</description>
<author href="wwww.bullseye.com.uy" email="bullseye@bullseye.com">
BullsEye
</author>

<gap:plugin name="org.apache.cordova.splashscreen" version="0.3.4" />
<gap:splash src="Images/HD/splash/aquarium.jpg" />

</widget>