* {
	margin: 0;
	padding: 0;
}
body {
	background: #FFF;
	width: auto;
	height: 100%;
	font-family: 'Trebuchet MS', Arial, Sans-Serif;
	font-size: 15px;
	color: #474747;
	line-height: 1.6em;
}
#container  {
	min-width:900px;
	padding-top:359px;
	position:relative;
	width:100%;
}
#content {
	margin-right: 250px;
}
#button1
{
	background: transparent url(../resources/buttons/helpbutton.png) 0 0 no-repeat;
	position: absolute;
	top:50px;
	left:50px;
	width:72px;
	height:58px;

}
#button2
{
	background: transparent url(../resources/buttons/helpbutton.png) 0 0 no-repeat;
	position: absolute;
	top:50px;
	left:50px;
	width:72px;
	height:58px;

}

#bird {
			background: transparent url(../resources/characters/aquarium/animated/fish1_1.png) 0 0 no-repeat;
			position: absolute;
			top:50px;
	left:50px;
	width:72px;
	height:58px;
			z-index: 2000;
			cursor: pointer;
		}
