[data-role=page]{height: 100% !important; position:relative !important; overflow:hidden !important}
[data-role=header]{bottom: auto !important; width:100%; height:20% !important;} 
[data-role=content]{bottom: auto !important; width:80%; height:65%;text-align:center;margin-right: auto;margin-left: auto;} 
[data-role=footer]{width:100%;!important; height:15%;!important;} 
[data-role=buttonMenuMain]{  background-size:100% !important;  height: 15% !important; width: 80% !important;     margin-left: 10% !important;	}

[data-role=buttonBack]{   background: transparent url(../resources/buttons/backarrow.png) 0 0 no-repeat; background-size: 100% !important;  height: 100% !important; width: 15% !important;  	}

img, object, embed, video {
	max-width: 100%;
}

* {
  	background-color: transparent !important;
    border: none !important; 
	margin: 0;
	padding: 0;
}


.page
{
	  background: transparent url(../resources/backgrounds/back0_0.png) 0 0 no-repeat;
	-webkit-background-size:cover;
	background-repeat:no-repeat;
	background-size:cover;

}
.headerContent
{
  	  
  	  background-size: 100% 100% !important;
	  height: 100%;
  	  width: 80%;
      margin-left: 10%;	
}
.defaultTripLeaf
{
	background-size:100% !important;  height: 100% !important; width: 12% !important; margin-left:5%;  

		background: transparent url(../resources/buttons/leafbutton1.png) 0 0 no-repeat;
}
#defaultTripLeafSeparator
{
	background-size:100% !important;  height: 18% !important; width: 10% !important;     margin-left: 15% !important;

	
}
.containerDefaultTripLeaf
{display: inline-block; width: 80%; height: 25%;}

#defaultTripLeaf1
{
visibility:hidden;
}
#defaultTripLeaf2
{
visibility:hidden;
}
#defaultTripLeaf3
{
}
#defaultTripOption
{
	background: transparent url(../resources/buttons/defulttrip.png) 0 0 no-repeat;
 background-size:100% !important;  height: 40% !important; width: 80% !important;     margin-left: 10% !important;

}
#defaultTripOptionlabel
{ background: transparent url(../resources/labels/defaulttripplannerlabel.png) 0 0 no-repeat;

 background-size:100% !important;  height: 15% !important; width: 80% !important;     margin-left: 10% !important;
 }
#containerSound
{display: inline-block; width: 80%; height: 20%;}
#soundLabel
{ background: transparent url(../resources/labels/soundlabel.png) 0 0 no-repeat;
 background-size:100% !important;  height: 100% !important; width: 60% !important;  
 float:left;}
#soundImage
{ background: transparent url(../resources/buttons/soundonbutton.png) 0 0 no-repeat;
 background-size:100% !important;  height: 80% !important; width: 20% !important;
  float:right;}
#headerContentMain
{ 	  background: transparent url(../resources/labels/settingslabel.png) 0 0 no-repeat;}
#headerContentSettings
{ background: transparent url(../resources/labels/settingslabel.png) 0 0 no-repeat;}
#headerContentHelp
{  	  background: transparent url(../resources/labels/helplabel.png) 0 0 no-repeat; }
#headerContentTripPlanner
{  	  background: transparent url(../resources/labels/tripplannerlabel.png) 0 0 no-repeat; }


#buttonHelp
{  background: transparent url(../resources/buttons/helpbutton.png) 0 0 no-repeat;}

#buttonSettings
{  background: transparent url(../resources/buttons/settingsbutton.png) 0 0 no-repeat;}

#buttonTripPlanner
{ 	  background: transparent url(../resources/buttons/tripplannerbutton.png) 0 0 no-repeat;}

#bird {
			background: transparent url(../resources/characters/aquarium/animated/fish1_1.png) 0 0 no-repeat;
			position: absolute;
			top:50px;
	left:50px;
	width:72px;
	height:58px;
			z-index: 2000;
			cursor: pointer;
		}
