[data-role=page]{height: 100% !important; position:relative !important;overflow:hidden !important }
[data-role=header]{bottom: auto !important; width:100%; height:20% !important;} 
[data-role=content]{bottom: auto !important; width:80%; height:65%;text-align:center;margin-right: auto;margin-left: auto; } 
[data-role=footer]{width:100%;!important; height:15%;!important; z-index:1000 !important} 
[data-role=buttonMenuMain]{  background-size:100% !important;  height: 15% !important; width: 80% !important;     margin-left: 10% !important;	}
[data-role=buttonMenuTap]{  background-size:100% !important;  height: 100% !important; width: 25% !important;    !important; float:left !important	}
[data-role=menuTap]{  height:15% !important;width:100% !important;   float: left !important; z-index: 1000;
  position: relative;}
[data-role=buttonBack]{   background: transparent url(../resources/buttons/backarrow.png) 0 0 no-repeat; background-size: 100% !important;  height: 100% !important; width: 15% !important; float:left !important 	  	}
[data-role=buttonNext]{   background: transparent url(../resources/buttons/nextarrow.png) 0 0 no-repeat; background-size: 100% !important;  height: 100% !important; width: 15% !important; float:right !important; visibility:hidden 	}
[data-role=setCharacterButton]{  height: 35% !important; width: 40% !important;     margin-left: 7% !important; float:left !important;
background-size: 90% 90% !important;  background-position: 50% 50% !important;	}

@font-face {
  font-family: sharkyspotdemo;
  src: url('sharkyspotdemo.ttf');

}
body{
	background-color:#86FDF0 !important;
  font-family: sharkyspotdemo;
  scrollbar-base-color:#864217 ;
  scrollbar-3dlight-color: #864217;
  scrollbar-highlight-color: #864217;
  scrollbar-track-color: #ffffff;
  scrollbar-arrow-color: #864217;
  scrollbar-shadow-color: #864217;
  scrollbar-dark-shadow-color: #864217;
}
::-webkit-scrollbar { width: 3px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #864217; }
::-webkit-scrollbar-track {  background-color: #666;}
::-webkit-scrollbar-track-piece { background-color: #ffffff;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #864217; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #666;}
::-webkit-resizer { background-color: #864217;}


.ui-shadow {
  -webkit-box-shadow: none;

}

@-webkit-keyframes rotating 
 {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotatedLoading {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
/*
.rotatedLoading{
-webkit-animation: rotate 2s linear infinite 0s;
-moz-animation: rotateup 2s linear infinite 0s;
  -o-animation: rotate 2s linear infinite 0s;
  -ms-animation: rotate 2s linear infinite 0s;
  animation: rotate 2s linear infinite 0s;
 

}


@-webkit-keyframes rotate {
 from {
    -webkit-transform: rotate(-360deg);
  }
  to {
		-webkit-transform: rotateY(0deg);
  }

}

@-moz-keyframes rotate {
 from {
     -moz-transform: rotate(-360deg);
  }
  to {
     -moz-transform: rotate(0deg);
  }

}

@-moz-keyframes rotateup {
 from {
     -moz-transform: rotate(-360deg);
  }
  to {
     -moz-transform: rotate(0deg);
  }
   

}



@-o-keyframes rotate {
 from {
    -o-transform: rotate(-360deg);
  }
  to {
    -o-transform: rotate(0deg);
  }

}
@-ms-keyframes rotate {
 from {
    -ms-transform: rotate(-360deg);
  }
  to {
    -ms-transform: rotateY(0deg);
  }

}
*/
img, object, embed, video {
	max-width: 100%;
}

* {
  	background-color: transparent !important;
    border: none !important; 
	margin: 0;
	padding: 0;
}


.page
{
	  background: transparent url(../resources/backgrounds/back0_0.png) 0 0 no-repeat;
	-webkit-background-size:cover;
	background-repeat:no-repeat;
	background-size:cover;

}
.headerContent
{
  	  
  	  background-size: 100% 100% !important;
	  height: 100%;
  	  width: 80%;
      margin-left: 10%;	
}
.defaultTripLeaf
{
	background-size:100% !important;  height: 100% !important; width: 10% !important; margin-left:14%;  

		background: transparent url(../resources/buttons/leafbutton1.png) 0 0 no-repeat;
}
.containerDefaultTripLeaf
{ width: 100%; height: 20%;}


.finishLeafsClass
{
	position:absolute;
	height:100%;
	width:100%;
	overflow:hidden;
	z-index:2500;
	background-repeat:repeat-y;
	background-size:100% !important;
	
	
}
#backMain
{
	visibility:hidden;
}
#finishLeafs
{

	background: transparent url(../resources/others/finishleafs2.png) 0 0 ;
	
}
#positionLeftCharacter
{
	width:100%;
	height:100%;
	  position: absolute;
  top: 30%;
  left: 0%;
  visibility:hidden;
}
#characterContainer
{
		height:100% !important; width:100% !important;position: relative !important;

}
#colorCharacter
{
	
	height:100% ; width:100% !important; 
position: absolute !important;
	top:0px;
}
#loadingContent
{
	overflow:hidden;
}
#greyCharacter
{
	
	height:100% ; width:100% !important;
position: absolute !important;
	top:0px;
}
#menuJungle
{

	  visibility: hidden;
  opacity: 0.0;
}
#finishCharacter
{
	background: transparent url(../resources/buttons/finish.png) 0 0 no-repeat;
height:60% !important;width:100% !important;background-size:100% !important;  
	  float: left !important;
	  visibility:hidden;
	  z-index: 5000;
  position: relative;
}
#buttonMenuJungle1
{
		background: transparent url(../resources/buttons/timemenubutton.png) 0 0 no-repeat;
}
#buttonMenuJungle2
{
		background: transparent url(../resources/buttons/positionmenubutton.png) 0 0 no-repeat;
}
#buttonMenuJungle3
{
		background: transparent url(../resources/buttons/resetmenubutton.png) 0 0 no-repeat;
}
#buttonMenuJungle4
{
		background: transparent url(../resources/buttons/closemenubutton.png) 0 0 no-repeat;
}
                 
#menuLeaf
{
  top: 2% !important;

	height: 10% !important; width: 10% !important;    left:88% !important; background-size: 100% 100% !important; 
	z-index:6000 !important; position:absolute !important;
			background: transparent url(../resources/buttons/leafbutton2.png) 0 0 no-repeat;

}
#setLion
{
		background: transparent url(../resources/buttons/lionbutton.png) 0 0 no-repeat;
}
#setZebra
{
		background: transparent url(../resources/buttons/zebrabutton.png) 0 0 no-repeat;
}
#setMonkey
{
		background: transparent url(../resources/buttons/monkeybutton.png) 0 0 no-repeat;
}
#setHippo
{
		background: transparent url(../resources/buttons/hippobutton.png) 0 0 no-repeat;
}

#setRhino
{
		background: transparent url(../resources/buttons/rhinobutton.png) 0 0 no-repeat;
}
 
#setElephant
{
		background: transparent url(../resources/buttons/elephantbutton.png) 0 0 no-repeat;
}
#setOstrich
{
		background: transparent url(../resources/buttons/ostrichbutton.png) 0 0 no-repeat;
}
#setToucan
{
		background: transparent url(../resources/buttons/toucanbutton.png) 0 0 no-repeat;
}
#setCrocodile
{
		background: transparent url(../resources/buttons/crocodilebutton.png) 0 0 no-repeat;
}

#setGiraffe
{
		background: transparent url(../resources/buttons/giraffebutton.png) 0 0 no-repeat;
}


#setAquarium
{
		background: transparent url(../resources/buttons/aqueariumbuttonlock.png) 0 0 no-repeat;
}


#toText
{
	float: left;
font-size: 1.5em;
}
#submit
{
width: 20% !important;
  height: 100% !important;
  padding: 0 !important;
  z-index:1000;
}

#toInput
{
	float: left;
  width: 65% !important;
    z-index:1000;
}
#knowFactContainer
{
	background: transparent url(../resources/others/wood1.png) 0 0 no-repeat;
	background-size: 100% 100% !important; 
  width: 80%;
  position: absolute;
  top: 40%;
  opacity:0;
    padding: 1%;

}
#resetTripContainer
{
	background: transparent url(../resources/labels/clearTripJungle_0.png) 0 0 no-repeat;
		background-size: 100%  !important; 
  width: 80%;
  height: 50%;
  position: absolute;
  top: 40%;
  visibility:hidden;
}
#resetTripYes
{
	height:20%;
	width:30%;

  left: 12%;
  		float: left;

  position: relative;
  top: 70%;
z-index:1000px;
}
#resetTripSpacer
{
		height:20%;
	width:20%;
	
		float: left;
 left: 10%;
  position: relative;
  top: 70%;
  z-index:500px;

}
#resetTripNo
{
		height:20%;
	width:30%;

		float: left;
 left: 10%;
  position: relative;
  top: 70%;
z-index:1000px;
}
	
#timeLeftCharacter
{
		font-size: 1.5em;
		background: transparent url(../resources/others/wood1.png) 0 0 no-repeat;
		background-size: 100% 100% !important; 
		color: #F4CE07 !important;
		    width: 80%;
			  height: 15%;
	 visibility: hidden;
  top: 70%;
  position: absolute;
}
#msg
{
	
	font-size: 1.5em;
  width: 90% !important;
 height: 13% !important;
  position: absolute !important;
  left: 3% !important;
  bottom: 1% !important;
  z-index: 500;
  text-align: center;
  font-weight: lighter;
  color: red !important;
  padding-left: 10px;
  padding-right: 10px;
	background: transparent url(../resources/others/wood1.png) 0 0 no-repeat;
	background-size: 100% 100% !important; 
	visibility:hidden;
}
#mapAdd
{
	position:relative !important;
	width:100% !important;
	height:10% !important;

}
#map_canvas_1
{
	width:80% !important;
		height:60%;
		top:10% !important;
		left:10% !important;
		position:relative !important;
		float:left !important;
		visibility:hidden;
}
#map_canvas_character
{
	width:80% !important;
height:70%;
  top: 15% !important;
  		left:10% !important;
		position:relative !important;
		float:left !important;
}

#borderMap
{
	background: transparent url(../resources/others/bordermap.png) 0 0 no-repeat;
 background-size:100% !important;  height:100% ; width: 100% !important;  
	 position:relative !important;
	 visibility:hidden;
	 
	 
}
#borderMapCharacter
{
	background: transparent url(../resources/others/bordermap.png) 0 0 no-repeat;
 background-size:100% !important;  height:100% ; width: 100% !important;  
	 position:relative !important;
	 
}
#containerTimeLabels
{ width: 90%; height: 13%; margin-left:5%}
#hoursLabel
{ background: transparent url(../resources/labels/hourslabel.png) 0 0 no-repeat;
 background-size:100% !important;  height: 100% !important; width: 50% !important;  
float:left;
 }
#minutesLabel
{ background: transparent url(../resources/labels/minuteslabel.png) 0 0 no-repeat;
 background-size:100% !important;  height: 100% !important; width: 50% !important;  
float:right;
 }
#selectTimeOption
{
		background: transparent url(../resources/buttons/timecounter.png) 0 0 no-repeat;
 background-size:100% !important; width: 100% !important;    

}


#hourBoldTime
{
			background: transparent url(../resources/buttons/boldnumbers.png) 0 0 no-repeat;
  height: 60% !important;
  width: 20% !important;
  top: 20% !important;
  left: 22% !important;
  background-size: 100% !important;
  background-position-x: 50%;
  position: relative !important;
  float: left;
  }
#minuteThinTime1
{
				background: transparent url(../resources/buttons/boldnumbers2.png) 0 0 no-repeat;
  height: 60% !important;
  width: 15% !important;
  top: 20% !important;
  left: 35% !important;
  background-size:100% !important;
  background-position-x: 50%;
  position: relative !important;
    float:left;
}
#minuteThinTime2
{
				background: transparent url(../resources/buttons/boldnumbers3.png) 0 0 no-repeat;
height: 60% !important;
  width: 15% !important;
  top: 20% !important;
  left: 35% !important;
  background-size:100% !important;
  background-position-x: 50%;
  position: relative !important;
        float:left;

}

#defaultTripLeafSeparator
{
	background-size:100% !important;  height: 10% !important; width: 10% !important;     margin-left: 15% !important;
}

#defaultTripOption
{
	background: transparent url(../resources/buttons/defulttrip2.png) 0 0 no-repeat;
 background-size:100% !important;  height: 45% !important; width: 80% !important;     margin-left: 10% !important;

}
#defaultTripOptionlabel
{ background: transparent url(../resources/labels/defaulttripplannerlabel.png) 0 0 no-repeat;
background-size:100% !important;  height: 15% !important; width: 80% !important;     margin-left: 10% !important;
 }
 
#containerSound
{ width: 80%; height: 20%;}

#soundLabel
{ background: transparent url(../resources/labels/soundlabel.png) 0 0 no-repeat;
 background-size:100% !important;  height: 100% !important; width: 60% !important;  
float:left;
 }
#soundImage
{ background: transparent url(../resources/buttons/soundonbutton.png) 0 0 no-repeat;
 background-size:100% !important;  height: 80% !important; width: 20% !important;
 float:right;
}

#wheelDiv
{
	 	  background: transparent url(../resources/others/loadingcenter.png) 0 0 no-repeat;
		     height: 2% ;
  margin-left: auto;
  margin-right: auto;
  top: 40%;
  width: 50% !important;
  position: relative;
  visibility:hidden;
}
#containerSetCharacter
{
	  width: 100% !important;
	  height:100% !important;
	    position: relative !important;
}

#contentSetCharacter
{
			overflow-y:	scroll !important;
}
#wheelBorder
{ 	  background: transparent url(../resources/others/loadingborder.png) 0 0 no-repeat;
    background-size: 100% 100%!important;
  height: 60% ;
  width: 80% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 45% !important;
    visibility:hidden;
}
#contentByDistance
{overflow:hidden !important;
}
#contentCharacter
{overflow:hidden !important;
}
#headerContentMain
{ 	  background: transparent url(../resources/labels/settingslabel.png) 0 0 no-repeat;}
#headerContentSettings
{ background: transparent url(../resources/labels/settingslabel.png) 0 0 no-repeat;}
#headerContentHelp
{  	  background: transparent url(../resources/labels/helplabel.png) 0 0 no-repeat; }
#headerContentTripPlanner
{  	  background: transparent url(../resources/labels/tripplannerlabel.png) 0 0 no-repeat; }
#headerContentByTime
{  	  background: transparent url(../resources/labels/settriptimelabel.png) 0 0 no-repeat; }
#headerContentByDistance
{  	  background: transparent url(../resources/labels/settripdistancelabel.png) 0 0 no-repeat; 
  
  }
#headerContentSetCharacter
{

	  	  background: transparent url(../resources/labels/tripplannerlabel.png) 0 0 no-repeat; 
  
  }
  #headerContentCharacter
{
	  top: 40% !important;
  position: relative !important;
	height:60% !important;

	  	  background: transparent url(../resources/labels/lionlabel.png) 0 0 no-repeat; 
  
  }


#buttonTime
{  background: transparent url(../resources/buttons/bytime.png) 0 0 no-repeat;

 background-size:100% !important;  height: 20% !important; width: 55% !important;     margin-left: 10% !important;	
 }

#buttonDistance
{  background: transparent url(../resources/buttons/bydistance.png) 0 0 no-repeat;

 background-size:100% !important;  height: 20% !important; width: 80% !important;     margin-left: 10% !important;	
 }


#buttonHelp
{  background: transparent url(../resources/buttons/helpbutton.png) 0 0 no-repeat;}

#buttonSettings
{  background: transparent url(../resources/buttons/settingsbutton.png) 0 0 no-repeat;}

#buttonTripPlanner
{ 	  background: transparent url(../resources/buttons/tripplannerbutton.png) 0 0 no-repeat;}

#bird {
			background: transparent url(../resources/characters/aquarium/animated/fish1_1.png) 0 0 no-repeat;
			position: absolute;
			top:50px;
	left:50px;
	width:72px;
	height:58px;
			z-index: 2000;
			cursor: pointer;
		}
