* {
	margin: 0;
	padding: 0;
}
body {
	background: #FFF;
	width: auto;
	height: 100%;
	font-family: 'Trebuchet MS', Arial, Sans-Serif;
	font-size: 15px;
	color: #474747;
	line-height: 1.6em;
}
#container  {
	min-width:900px;
	padding-top:359px;
	position:relative;
	width:100%;
}
#content {
	margin-right: 250px;
}
#bird {
			background: transparent url(../images/bird-forward-back.png) 0 0 no-repeat;
			position: absolute;
			top: 150px;
			left: 65px;
			width: 180px;
			height: 123px;
			z-index: 2000;
			cursor: pointer;
		}
